.sortby{
    margin-left: 5px;
}

.sort{
display: flex;
justify-content: space-between;
padding: 5px;
border: 1px solid;
border-radius: 4px;
cursor: pointer;
}

.sor{
    position: absolute;

    top: 15%;
}

.sort_com{
    padding: 5px;
    
}

.sort_com:hover{
    background-color: rgb(228, 217, 217);
}

.rem{
    font-weight: bold;
}